<!doctype html>
<html lang="en">
    <head>
        {% include "parcials/_head.html" %}
        <title>{% block page_title %}{% endblock page_title %} | E-commerce</title>
    </head>
        <body>
            {% include "parcials/_nav.html" %}

            <main class="container mt-4 mb-4">
                {% include "parcials/_messages.html" %}
                {% block content %}{% endblock content %}
            </main>

            {% include "parcials/_footer.html" %}
        </body>
</html>