{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row">

        {% if not request.user.is_authenticated %}
            <div class="col-lg">
                <h1>Login</h1>

                <form method="POST" action="{% url "profile:login" %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputUsername1">Username</label>
                        <input type="username" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp" placeholder="Digite seu usuário">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
                </form>
            </div>
        {% endif %}

        <div class="col-lg">
            {% block register_title %}
                <h1>Register</h1>
            {% endblock register_title %}
            
            <form method="POST" action="">
                {% csrf_token %}
                {{ userform | crispy }}
                {{ profileform | crispy }}

                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">
                            Register
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}