{% load filters %}

<div class="table-responsive">
    <table class="table">
        <tr>
            <th class="d-none d-lg-block">Imagem</th>
            <th>Produto</th>
            <th>V.</th>
            <th>QTD.</th>
            <th>Total</th>
        </tr>
        
        {% for item in cart.values %}
            <tr>
                <td class="d-none d-lg-block">
                    <img class="cart-img" src="{{ item.image }}">
                </td>
                <td>
                    <a href="{% url "product:detail" item.slug %}">
                        {{ item.product_name }}
                    </a>
                    <a class="ml-3" href="{% url "product:removeitem" %}?vid={{ item.variation_id }}">
                        <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
                    </a>
                </td>
                <td>{{ item.variation_name }}</td>
                <td>
                    {{ item.quantity }} x 

                    {% if item.unitary_promotional_price %}
                        {{ item.unitary_promotional_price }}
                    {% else %}
                        {{ item.unitary_price }}
                    {% endif %}
                </td>

                {% if item.quantitative_promotional_price %}
                    <td>{{ item.quantitative_promotional_price | price_format }}</td>
                {% else %}
                    <td>{{ item.quantitative_price | price_format }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>